.cover{
    background-color: cadetblue;
}

.customer, .numP, .tot{
    color: white;
    padding: 1em;
}

.details{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em;
    font-size: 18px;
}
.cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    width: auto;
}
.pic{
    height: 3.5em;
}

.add_remove{
    width: 3em;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    column-width: 10em;
    border: 1px solid;
    border-collapse: collapse;
    border-color:black;
    text-align: center;
    height: 3em;
    color: white;
    font-size: 19px;
}
.payBtn{
    background-color: white;
    border: none;
    padding: 0.5em;
    width: 4em;
}

.details{
    display: flex; 
}

.listPizzas{
    padding-bottom: 3em;
}
body{
    background-color: black;
}
h1 {
    color: aqua;
    text-align: center;
}
h2{
    font-style: initial;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
    background-color: black;
}
h3{
    font-style: normal;
    font-weight: 600;
    color: black;
    text-align: center;
}
h4{
    font-style: normal;
    font-weight: 600;
    color: red;
    text-align: center;
}
h5{
    font-style: normal;
    font-weight: 200;
    color: red;
    text-align: center;
}
p{
    font-style: normal;
    font-weight: 100;
    color: white;
    text-align: center;
}
.medium-pizza{
    
    border: solid whitesmoke 1em;
    background-color: rgb(114, 100, 102);
    margin: 1em;
}
.large-pizza{
    
    border: solid whitesmoke 1em;
    background-color: rgb(114, 100, 102);
    margin: 1em;
}
.small-pizza{
    
    border: solid whitesmoke 1em;
    background-color: rgb(114, 100, 102);
    margin: 1em;
}
.footer{
    background-color: black;
}
@media (min-width: 980px){
    .pizzas{
        display: flex;
    }
}
.btn3{
    width: 80px;
    margin-left: 40%;
}
.piz{
    margin-left: 10%;
    border-radius: 50%;
}
.piz1{
    border-radius: 60%;
}